.header{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    &-logo{
        color: $very-light-gray;
        font-size: 48px;
        letter-spacing: 3px;
        font-weight: $bold-weight;
    }

    &-mode{
        cursor: pointer;
    }
}